html,
[data-theme="light"] {
    --primary-color: #0037FF;
    --secondary-color: #7EA2FF;
    --font-color: #292929;
    --bg-color: #ffffff;
    --heading-color: #292929;
    --accent-color: #E3E3E3;
    
  }
  
  [data-theme="dark"] {
    --primary-color: #0037FF;
    --secondary-color: #7EA2FF;
    --font-color: #ffffff;
    --bg-color: #292929;
    --heading-color: #292929;
    --accent-color: #363636;
  }

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: var(--bg-color);
}

/* landing page */
:root {
    --ff: "PCap Terminal";
    --h1: bold 4rem/0.9em var(--ff);
    --h2: bold 3rem/1.2em var(--ff);
    --h3: bold 2.25rem/1.2em var(--ff);
    --h4: bold 1.25rem/1em var(--ff);
    --big: 1.25rem/1.6em var(--ff);
    --p: 1rem/1.6em var(--ff);
    --small: .6rem/1.5em var(--ff);
}

@font-face {
    font-family: "PCap Terminal";
    src: url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.eot");
    src: url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.svg#PCap Terminal")format("svg");
    font-display: block;
}

.loadingScreen {
    width: 100vw;
    height: 100vh;
}

.welcometext {
    background: linear-gradient(to right, #0037FF, #7EA2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font: var(--h2);
    font-family: "PCap Terminal";
    letter-spacing: 0.5px;
    line-height: 45px;
    top: 100px;
    text-align: center;

}

.logo {
    position: relative;
    top: 200px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 120px;
    height: 120px;

    /* animation:  rotateForever 1s infinite; */
    img {
        width: 100%;
        height: 100%;
    }
}

.loader {
    position: relative;
    top: 10px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    border: 10px solid var(--bg-color);
    /* Light grey */
    border-top: 10px solid var(--font-color);
    /* Blue */
    border-radius: 50%;
    width: 225px;
    height: 225px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add these styles for fade-in and fade-out effects */
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}


/* Ensure the main content is initially hidden */
.maincontent {
    opacity: 0;
    background-color: var(--bg-color);
    transition: opacity 0.25s ease-in;
    height: 100vh;
    width: 100vw;
}

.maincontent h1 {
    background: linear-gradient(to right, #0037FF, #7EA2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: var(--h2);
    font-family: "PCap Terminal";
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    letter-spacing: 2px;
}


.theme-switch-wrapper {
    display: inline-block;
    position: relative;
    align-items: center;
    left: 20px;
    top: 20px;
}

.theme-switch {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 35px;
    align-items: center;
    vertical-align: center;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: var(--primary-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--bg-color);
    bottom: 2px;
    content: "";
    height: 12px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 12px;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:checked+.slider:before {
    transform: translateX(19px);
    background-color: var(--bg-color);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-family: var(--ff);
    font: var(--small);
    color: var(--font-color);
    background-color: var(--bg-color);
    border: 3px solid var(--font-color);
    border-radius: 5px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;

}

.button:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}


.maincontent nav {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    position: relative;
    top:-25px;
}

.maincontent nav a {
    font: var(--small);
    color: var(--font-color);
    text-decoration: none;
    margin: 0 10px;
    letter-spacing: 1px;
    position: relative;
}

.indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: var(--primary-color);
    transition: left 0.3s ease, width 0.3s ease;
    transform: translateY(5px);
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 81.5%;
}

.content-card {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    transition: opacity 0.75s ease-in-out, visibility 0.75s ease-in-out;
    position: absolute;
}

.content-card.active {
    visibility: visible;
    opacity: 1;
    position: relative;
}


.countdown{
    position: relative;
    background: linear-gradient(to right, #0037FF, #7EA2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: var(--h4);
    font-family: "PCap Terminal";
    text-align: center;
    letter-spacing: 2px;

}
.content-card h4{
    position: relative;
    background: linear-gradient(to right, #0037FF, #7EA2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: var(--p);
    font-family: "PCap Terminal";
    text-align: center;
    letter-spacing: 1px;
    top: -20px;
}

.teamdeadlines{
    background-color: var(--accent-color);
    border-radius: 10px;
    position: relative;
    top:-20px;
    width: 100%;
    height: 25%;
    color: var(--font-color);
    font: var(--p);
    font-family: "PCap Terminal";
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    overflow-y: auto;
    
}

.teamdeadlines::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

.teamdeadlines h3{
    width: 100%;
    margin-top: 3px;
}

.yourdeadlines{
    background-color: var(--accent-color);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 25%;
    color: var(--font-color);
    font: var(--p);
    font-family: "PCap Terminal";
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    overflow-y: auto;
    
}

.yourdeadlines::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

.yourdeadlines h3{
    width: 100%;
    margin-top: 3px;
}

.deadlinedate{
    color: var(--bg-color);
    font: var(--small);
    font-family: "PCap Terminal";
    position: relative;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    background-color: var(--heading-color);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    width: 30%;
    margin-left: px;

}

.deadline{
    width: 50%;
    color: var(--bg-color);
    font: var(--small);
    font-family: "PCap Terminal";
    position: relative;
    display: inline-flex;
    justify-content: left;
    background-color: var(--heading-color);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

