html,

[data-theme="light"] {
  --primary-color: #0037FF;
  --secondary-color: #7EA2FF;
  --font-color: #292929;
  --bg-color: #ffffff;
  --heading-color: #292929;
}

[data-theme="dark"] {
  --primary-color: #0037FF;
  --secondary-color: #7EA2FF;
  --font-color: #ffffff;
  --bg-color: #292929;
  --heading-color: #292929;
}

body{
   width: 100%;
   height: 100%;
   overflow: hidden;
   margin: 0;
   background-color: var(--bg-color);
}

@font-face {
  font-family: "PCap Terminal";
  src: url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.eot");
  src: url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.svg#PCap Terminal")format("svg");
}



/* .logo{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3.25vh;
  left: 2vw;
  z-index: 2;
} */

label .menu {
  position: absolute;
  right: -80px;
  top: -100px;
  z-index: 100;
  width: 180px;
  height: 180px;
  background: var(--bg-color);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 var(--bg-color), 0 0 0 0 var(--bg-color);
  cursor: pointer;

  
}

label .hamburger {
  position: absolute;
  top: 140px;
  left: 40px;
  width: 30px;
  height: 2px;
  background: var(--font-color);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--font-color);
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw var(--bg-color), 0 0 0 100vh var(--bg-color);
  border-radius: 10;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { 
  opacity: 1; 
  pointer-events: auto;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 45%;
  left: 47vw;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  list-style-type: none;
  pointer-events: none;

}

label a {
  margin-bottom: 2em;
  display: block;
  color: var(--font-color);
  text-decoration: none;
  font-family: "PCap Terminal";
  font-size: 20px;
  letter-spacing: 2px;

  
}

label a:hover {
  color: #0037FF;
}

.theme-switch-wrapper {
  display: inline-block;
  align-items: center;

}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  align-items: center;
  vertical-align: center;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #b9b9b9;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #ffffff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #b9b9b9;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #292929;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


h1 {
  background: linear-gradient(to right, #0037FF, #7EA2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  font-size: 80px;
  font-family: "PCap Terminal";
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 75px;
}

h2 {
  background: linear-gradient(to right, #0037FF, #7EA2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: "PCap Terminal";
  letter-spacing: 1.5px;
  font-style: bold;
  top: -45px;
  padding-left: 20px;
  padding-right: 20px;
}


.spline-container{
  height: 100vh;
  width: 100vw;
  top: 20%;
  position: absolute;
  align-items: center;
  display: inline;
}

/* Media Queries for Different Devices */

