html,
body{
   width: 100%;
   height: 100%;
   overflow: hidden;
   margin: 0;
   background-color: #292929;
}

@font-face {
  font-family: "PCap Terminal";
  src: url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.eot");
  src: url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d8d28220e3feff1ea3321de5ee9ce96c.svg#PCap Terminal")format("svg");
}



.logo{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3.25vh;
  left: 2vw;
  z-index: 2;
}

/* Navigation Bar Styling */
.navbar {
  background-color: #292929;
  position: relative;
  top: 1vh;
  left: 4vw;
  display: inline-block;
  
}

.nav-links {
  list-style: none;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  position: relative;
  padding-right: 3vw;
  padding-top: 1vh;
 
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
  font-size-adjust: cap-hieght;
  font-family: "PCap Terminal";
  text-align: center;
}

/* Hover effect for links */
.nav-links li:hover a {
  color: #0037FF; 
}

/* Sign-in Button Styling */
.sign-in-btn {
  border-radius: 10px;
  padding: 5px 8px;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  cursor: pointergb(255, 255, 255);
  z-index: 1;
  position: relative;
}

.sign-in-btn:hover {
  border-color: #0037FF;
}

h1 {
  background: linear-gradient(to right, #0037FF, #7EA2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  top: -2vh;
  font-size: 80px;
  font-family: "PCap Terminal";
  letter-spacing: 0.2vw;
  font-weight: 300;
  line-height: 75px;
}

h2 {
  background: linear-gradient(to right, #0037FF, #7EA2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: "PCap Terminal";
  letter-spacing: 1px;
  font-style: bold;
  top: -7vh;
}


.spline-container{
  height: 50vh;
  width: 100vw;
  top: 35vh;
  position: absolute;
  align-items: center;
  display: inline;
}
